<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Today</h1>
        <%time = DateTime.new%>
        <p><%=time.strftime("The date is %A, %B %e, %Y ")%></p>
    </body>
</html>
